#firstBox {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: var(--a);
}

img {
  position: relative;
  image-rendering: pixelated;
  aspect-ratio: 1;
  width: 30vw;
  top: 20vh;
  left: 10vw;
  border-radius: 50%;
  box-shadow: 0 0 3vw 0.0001vw rgba(0, 0, 0, 0.3);
  transition: ease all 0.1s;
}

@media (max-aspect-ratio: 16/9) {
  img {
    top: 26vh;
    transition: ease all 0.1s;
  }
}

#allTexts {
  position: absolute;
  left: 0vw;
  width: 50vw;
}

#hello:hover {
  transition: ease all 0.7s;
  transform: translateX(100px);
}

#myName:hover {
  transition: ease all 0.7s;
  transform: translateX(100px);
}

#desc:hover {
  transition: ease all 0.7s;
  transform: translateX(100px);
}

#hello {
  position: absolute;
  top: 20vh;
  left: 42.6vw;
  font-size: 12vw;
  text-align: left;
  font-family: var(--pixelFont);
  color: white;
  text-shadow: 0 0 0.3vw var(--d);
  transition: ease all 0.1s;
}

#myName {
  position: absolute;
  top: 42vh;
  left: 42vw;
  font-size: 9vw;
  text-align: left;
  font-family: var(--pixelFont);
  color: white;
  text-shadow: 0 0 0.3vw var(--d);
  transition: ease all 0.1s;
}

#desc {
  position: absolute;
  top: 60vh;
  left: 43vw;
  width: fit-content;
  font-size: 3vw;
  font-family: var(--pixelFont);
  text-shadow: 0 0 0.3vw var(--d);
  color: white;
  transition: ease all 0.1s;
}

#secondBox {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background-color: var(--real-body-color);
  height: 100vh;
}

#thirtBox {
  position: absolute;
  top: 200%;
  width: 100%;
  left: 0;
  background-color: var(--head-color);
  height: 100vh;
}

#replit {
  position: relative;
  top: 14vh;
  left: 14.5vw;
  border: 0px;
  border-radius: 3%;
  aspect-ratio: 2;
  width: 70%;
  z-index: 100;
}
