#land {
    width: 100vw;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
    visibility: visible;
}

html,
body {
    min-height: -webkit-fill-available;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    text-decoration-skip-ink: none;
}

/*First Page*/
#hello {
    position: absolute;
    top: 0px;
    left: 00vw;
    width: 100vw;
    height: 100vh;
    background-color: var(--a);
}

#portrait {
    position: relative;
    image-rendering: pixelated;
    aspect-ratio: 1;
    width: 24vw;
    top: calc(50vh - 12vw);
    left: 18vw;
    border-radius: 50%;
    box-shadow: 0 0 3vw 0.0001vw rgb(84, 51, 68, 0.3);
    border: 0.5vw dashed var(--c);
}

#position {
    position: absolute;
    left: 47vw;
    top: calc(50vh - 11vw);
    width: 35vw;
}

#text1 {
    font-size: 8vw;
    text-align: left;
    font-family: var(--pixelFont);
    color: white;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
        0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
}

#text2 {
    font-size: 3.5vw;
    text-align: left;
    font-family: var(--pixelFont);
    color: white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

/*Second page */
#skills {
    position: absolute;
    left: 0;
    top: 100vh;
    background-color: var(--d);
    width: 100vw;
    height: 100vh;
}

#center {
    position: inherit;
    aspect-ratio: 1;
    width: 10vw;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    left: 15vw;
    top: calc(55vh - 5vw);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

#setCenter {
    position: inherit;
    top: 25vh;
    left: 10vw;
}

.langText {
    position: inherit;
    left: 2vw;
    top: 0.5vw;
}

.langName {
    background-color: var(--a);
    position: inherit;
    height: 3vw;
    width: 10vw;
    border-radius: 10px;
    font-family: var(--pixelFont);
    color: white;
    font-size: 1.8vw;
    /* box-shadow: 0 0 2px 0.1vw rgba(134, 134, 134, 0.082);*/
}

.langName:nth-child(1) {
    transform: translate(0, 10vh);
}

.langName:nth-child(2) {
    position: inherit;
    transform: translate(0, 20vh);
}

.langName:nth-child(3) {
    position: inherit;
    transform: translate(0, 30vh);
}

.langName:nth-child(4) {
    position: inherit;
    transform: translate(0, 40vh);
}

.langName:nth-child(5) {
    position: inherit;
    transform: translate(0, 50vh);
}

#skillsTitle {
    position: inherit;
    font-family: var(--pixelFont);
    top: 6vh;
    left: 10vw;
    font-size: 8.2vw;
    color: white;
    text-decoration: underline;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
        0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
}

/*Thirt page */
#projects {
    position: absolute;
    top: 200vh;
    width: 100vw;
    left: 0;
    background-color: var(--a);
    height: 100vh;
}

#projectsText {
    position: relative;
    top: 5vh;
    left: 10vw;
    font-family: var(--pixelFont);
    font-size: 8.2vw;
    color: white;
    text-decoration: underline;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
        0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
}

#projectBox {
    position: inherit;
    background-color: var(--d);
    width: 70vw;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    top: 30vh;
    left: 10vw;
    font-size: 50px;
    border-radius: 10px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

div.gallery {
    top: 1.5vh;
    left: 2vw;
    position: relative;
    margin: 1vw;
    float: left;
    height: 14vw;
    width: 20vw;
    background-color: var(--a);
    font-size: 30px;
    font-family: var(--pixelFont);
    border-radius: 20px;
    color: white;
}

div.gallery:hover {
    background-color: #977843;
    cursor: pointer;
}

div.gallery img {
    position: relative;
    width: 20vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 11.25vw;
}

div.desc {
    position: relative;
    font-size: 1.5vw;
    padding: 0px;
    text-align: center;
}

/*Fourth page */
#contact {
    position: absolute;
    top: 300vh;
    left: 0;
    background-color: var(--d);
    width: 100vw;
    height: 100vh;
}

#contactText {
    position: inherit;
    top: 5vh;
    left: 10vw;
    font-family: var(--pixelFont);
    font-size: 8.2vw;
    text-decoration: underline;
    color: white;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
        0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
}

#contactInnerbox {
    position: inherit;
    background-color: var(--a);
    width: 70vw;
    height: 60vh;
    top: 30vh;
    left: 10vw;
    border-radius: 10px;
    padding: 1vw;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

#name {
    position: relative;
    margin-top: 4vw;
    border-radius: 0.3vw;
    border: 0;
    background-color: white;
    left: 5%;
    width: 70%;
    height: 3vh;
    font-size: 2vw;
    color: black;
    font-family: var(--pixelFont);
    margin-bottom: 3vw;
    box-shadow: 0 0 2px 0.1px rgb(0, 0, 0, 0.5);
}

#message {
    position: relative;
    top: 20%;
    border-radius: 0.3vw;
    border: 0;
    background-color: white;
    left: 5%;
    width: 70%;
    height: 15vh;
    font-size: 2vw;
    color: black;
    font-family: var(--pixelFont);
    margin-bottom: 3vw;
    resize: none;
    box-shadow: 0 0 2px 0.1px rgb(0, 0, 0, 0.5);
}

#email {
    position: relative;
    top: 10%;
    border-radius: 0.3vw;
    border: 0;
    background-color: white;
    left: 5%;
    width: 70%;
    height: 3vh;
    font-size: 2vw;
    color: black;
    font-family: var(--pixelFont);
    margin-bottom: 2.5vw;
    box-shadow: 0 0 2px 0.1px rgb(0, 0, 0, 0.5);
}

#button {
    position: relative;
    border-radius: 0.3vw;
    border: 0;
    background-color: var(--d);
    left: 69%;
    width: 5vw;
    height: 4.8vh;
    font-size: 2vw;
    border: 0.2vw solid white;
    color: white;
    font-family: var(--pixelFont);
    margin: 0;
}

#button:hover {
    cursor: pointer;
}

/*Page changing buttons*/
.upArrow {
    position: inherit;
    aspect-ratio: 1;
    top: 4.2vh;
    right: 5vw;
    width: 5%;
    animation: breathe 2s linear infinite;
    image-rendering: pixelated;
}

.upArrow:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.534));
    animation-play-state: paused;
    cursor: pointer;
}

.downArrow {
    position: inherit;
    aspect-ratio: 1;
    bottom: 6vh;
    right: 5vw;
    width: 5%;
    animation: breathe 2s linear infinite;
    image-rendering: pixelated;
}

.downArrow:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.534));
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes breathe {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    50% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}
