/*First Page*/
#hello {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--a);
}

#portrait {
    position: relative;
    image-rendering: pixelated;
    aspect-ratio: 1;
    width: 28vw;
    top: calc(50vh - 14vw);
    left: 8vw;
    border-radius: 50%;
    box-shadow: 0 0 3vw 0.0001vw rgb(84, 51, 68, 0.3);
    border: 10px dashed var(--c);
}

#position {
    position: absolute;
    left: 43vw;
    top: calc(50vh - 14.8vw);
}

#text1 {
    font-size: 12vw;
    text-align: left;
    font-family: var(--pixelFont);
    color: white;
    text-shadow: 0 0 2vw 0.1vw rgb(84, 51, 68, 0.3);
}

#text2 {
    font-size: 5vw;
    text-align: left;
    font-family: var(--pixelFont);
    color: white;
    text-shadow: 0 0 2vw 0.1vw rgb(84, 51, 68, 0.3);
}

/*Second page */
#skills {
    position: absolute;
    left: 0;
    top: 100vh;
    background-color: var(--d);
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

#center {
    position: inherit;
    aspect-ratio: 1;
    width: 10vw;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    left: 15vw;
    top: calc(55vh - 5vw);
    box-shadow: 0 0 1vw 0.0001vw rgba(0, 0, 0, 0.3);
}

#setCenter {
    position: inherit;
    top: 25vh;
    left: 5vw;
}

.langText {
    position: inherit;
    left: 2vw;
    top: 0.5vw;
}

.langName {
    background-color: var(--a);
    position: inherit;
    height: 3vw;
    width: 10vw;
    border-radius: 10px;
    font-family: var(--pixelFont);
    color: white;
    font-size: 1.8vw;
    z-index: -1;
    /* box-shadow: 0 0 2px 0.1vw rgba(134, 134, 134, 0.082);*/
}

.langName:nth-child(1) {
    transform: translate(0, 10vh);
}

.langName:nth-child(2) {
    position: inherit;
    transform: translate(0, 20vh);
}

.langName:nth-child(3) {
    position: inherit;
    transform: translate(0, 30vh);
}

.langName:nth-child(4) {
    position: inherit;
    transform: translate(0, 40vh);
}

.langName:nth-child(5) {
    position: inherit;
    transform: translate(0, 50vh);
}

#skillsTitle {
    position: inherit;
    font-family: var(--pixelFont);
    top: 6vh;
    left: 5vw;
    font-size: 9vw;
    color: white;
    text-decoration: underline;
    text-shadow: 0 0 4vw 0.0001vw rgba(139, 139, 139, 0.3);
}

/*Thirt page */
#projects {
    position: absolute;
    top: 200%;
    width: 100%;
    left: 0;
    background-color: var(--e);
    height: 100vh;
    z-index: 1;
}

/*Fourth page */
#contact {
    position: absolute;
    top: 300%;
    width: 100%;
    left: 0;
    background-color: var(--c);
    height: 100vh;
}

#contactText {
    position: relative;
    top: 5vh;
    left: 5vw;
    font-family: var(--pixelFont);
    font-size: 9vw;
    text-decoration: underline;
    color: white;

}

#contactInnerbox {
    position: inherit;
    background-color: var(--a);
    width: 80vw;
    height: 60vh;
    top: 30vh;
    left: 10vw;
    border-radius: 10px;
}

/*Page changing buttons*/
.upArrow {
    position: inherit;
    aspect-ratio: 1;
    top: 4.2vh;
    right: 5vw;
    width: 5%;
    animation: breathe 2s linear infinite;
    image-rendering: pixelated;
}

.upArrow:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.534));
    animation-play-state: paused;
    cursor: pointer;
}

.downArrow {
    position: inherit;
    aspect-ratio: 1;
    bottom: 6vh;
    right: 5vw;
    width: 5%;
    animation: breathe 2s linear infinite;
    image-rendering: pixelated;
}

.downArrow:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.534));
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes breathe {
    0% {
        filter: drop-shadow(0 0 0 15px rgba(188, 237, 243, 0.3));
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    50% {
        filter: drop-shadow(0 0 0 15px rgba(188, 237, 243, 0.3));
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    100% {
        filter: drop-shadow(0 0 0 15px rgba(188, 237, 243, 0.3));
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}
