html,
body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
}

#port {
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
    background-color: black;
    visibility: visible;
}

/*First Page*/
#leftBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 35vw;
    height: 105vh;
    background-color: var(--a);
}

#rightBar {
    position: absolute;
    left: 35vw;
    top: 0;
    width: 70vw;
    height: 105vh;
    background-color: var(--d);
}

#portrait {
    position: relative;
    image-rendering: pixelated;
    aspect-ratio: 1;
    width: 70%;
    top: 10vh;
    left: 13%;
    border-radius: 50%;
    box-shadow: 0 0 3vw 0.0001vw rgb(84, 51, 68, 0.3);
    border: 0.5vw dashed var(--c);
}

#aboutMe {
    position: relative;
    left: 3%;
    top: calc(15vh + 0.7 * 35vw);
    font-size: 5vw;
    text-align: left;
    font-family: var(--pixelFont);
    color: white;
    width: 30%;
    text-shadow: 0 0 2vw 0.1vw rgb(84, 51, 68, 0.3);
    word-wrap: break-word;
}

#skills {
    position: relative;
    left: 0;
    top: 35vh;
    width: 35vw;
    height: 40vh;
}

#center {
    position: inherit;
    aspect-ratio: 1;
    width: 10vw;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    left: 15vw;
    top: calc(55vh - 5vw);
    box-shadow: 0 0 1vw 0.0001vw rgba(0, 0, 0, 0.3);
}

#setCenter {
    position: inherit;
    top: 7vh;
    left: 3vw;
}

.langText {
    position: inherit;
    left: 2vw;
    top: 0.5vw;
}

.langName {
    background-color: var(--d);
    position: inherit;
    height: 3vw;
    width: 10vw;
    border: 0;
    border-radius: 5px;
    font-family: var(--pixelFont);
    color: white;
    font-size: 1.8vw;
    /* box-shadow: 0 0 2px 0.1vw rgba(134, 134, 134, 0.082);*/
}

.langName:nth-child(1) {
    transform: translate(0, 1vh);
    width: 23vw;
}

.langName:nth-child(2) {
    position: inherit;
    transform: translate(0, 2vh);
    width: 17vw;
}

.langName:nth-child(3) {
    position: inherit;
    width: 10vw;
    transform: translate(0, 3vh);
}

.langName:nth-child(4) {
    position: inherit;
    width: 14vw;
    transform: translate(0, 4vh);
}

.langName:nth-child(5) {
    position: inherit;
    width: 16vw;
    transform: translate(0, 5vh);
}

#skillsTitle {
    position: inherit;
    font-family: var(--pixelFont);
    top: 6vh;
    left: 3vw;
    font-size: 8.2vw;
    color: white;
    text-decoration: underline;
    text-shadow: 0 0 4vw 0.0001vw rgba(139, 139, 139, 0.3);
}

#projects {
    position: relative;
    top: 7vh;
    width: 60vw;
    left: 10vw;
    background-color: var(--a);
    height: 30vh;
    border-radius: 2vw;
}

#projectsText {
    position: absolute;
    top: 1vh;
    left: 5vw;
    font-family: var(--pixelFont);
    font-size: 7vw;
    text-decoration: underline;
    color: white;
    text-shadow: 0 0 5px 1px rgb(0, 0, 0, 0.5);
}

#projectBox {
    position: inherit;
    background-color: var(--d);
    width: 45vw;
    height: 22vh;
    overflow-y: auto;
    overflow-x: hidden;
    top: 6.3vh;
    left: 5vw;
    font-size: 50px;
    border-radius: 2vw;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0, 0.5);
}

div.gallery {
    position: relative;
    top: 0vh;
    left: 3vw;
    margin: 2vw;
    height: 14vw;
    width: 20vw;
    background-color: var(--a);
    font-size: 30px;
    font-family: var(--pixelFont);
    border-radius: 5px;
    color: white;
}

div.gallery:hover {
    background-color: #977843;
    cursor: pointer;
}

div.gallery img {
    position: inherit;
    width: 20vw;
    border-radius: 5px 5px 0 0;
    height: 11.25vw;
}

div.desc {
    position: inherit;
    font-size: 1.5vw;
    padding: 0px;
    top: -0.2vh;
    text-align: center;
}

#contact {
    position: relative;
    top: 13vh;
    width: 60vw;
    left: 10vw;
    background-color: var(--a);
    height: 40vh;
    border-radius: 2vw;
}

#contactText {
    position: inherit;
    top: 2vh;
    left: 5vw;
    font-family: var(--pixelFont);
    font-size: 8.2vw;
    text-decoration: underline;
    color: white;
    text-shadow: 0 0 5px 1px rgb(0, 0, 0, 0.5);
}

#contactInnerbox {
    position: inherit;
    top: 1.2vh;
    width: 80vw;
    height: 60vh;
    left: 0vw;
    border-radius: 10px;
    padding: 1vw;
}

#name {
    position: relative;
    margin-top: 4vw;
    border-radius: 5px;
    border: 0;
    background-color: white;
    left: 5%;
    width: 55%;
    height: 3vh;
    font-size: 2vw;
    color: black;
    font-family: var(--pixelFont);
    margin-bottom: 3vw;
    box-shadow: 0 0 2px 0.1px rgb(0, 0, 0, 0.5);
}

#message {
    position: relative;
    top: 20%;
    border-radius: 5px;
    border: 0;
    background-color: white;
    left: 5%;
    width: 55%;
    height: 15vh;
    font-size: 2vw;
    color: black;
    font-family: var(--pixelFont);
    margin-bottom: 3vw;
    resize: none;
    box-shadow: 0 0 2px 0.1px rgb(0, 0, 0, 0.5);
}

#email {
    position: relative;
    top: 10%;
    border-radius: 5px;
    border: 0;
    background-color: white;
    left: 5%;
    width: 55%;
    height: 3vh;
    font-size: 2vw;
    color: black;
    font-family: var(--pixelFont);
    margin-bottom: 2.5vw;
    box-shadow: 0 0 2px 0.1px rgb(0, 0, 0, 0.5);
}

#button {
    position: relative;
    border-radius: 5px;
    border: 0;
    background-color: var(--d);
    top: -0.3vh;
    left: 55%;
    width: 6vw;
    height: 2.2vh;
    font-size: 2vw;
    border: 0.3vw solid white;
    color: white;
    font-family: var(--pixelFont);
    margin: 0;
}
