html,body {
    margin: 0;
    margin-bottom: 5vw;
    overflow-y: visible;
    background-color: var(--a);
}

#title {
    padding: 2vw;
    position: relative;
    font-family: var(--pixelFont);
    text-align: center;
    color: white;
    font-size: 7vw;
    text-decoration: underline;
    background-color: var(--d);
}

#project {
    position: relative;
    left: 10vw;
    top: 4vw;
    width: 80vw;
    height: 70vh;
    border-radius: 20px;
    background-color: white;
}
