@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Oswald:wght@300&family=VT323&display=swap");
:root {
    --a: #caa05a;
    --b: #c9cca1;
    --c: #515262;
    --d: #543344;
    --e: #ae6a47;
    --back: #484957;
    --pixelFont: "VT323", monospace;
}
::-webkit-scrollbar {
    width: 0.8vw;
    background-color: var(--c);
    border-radius: 0.2vw;
}

::-webkit-scrollbar-thumb {
    background: whitesmoke;
    box-shadow: 2px black;
    border-radius: 0.2vw;
}
::-webkit-scrollbar-track {
    background-color: var(--c);
    border-radius: 0.2vw;
}

#land {
    width: 100vw;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
    visibility: hidden;
}

#port {
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
}

