@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --head-color: #64BDAA;
  /*  #282a36;*/
  --real-body-color: #BD9080;
  /* #717593;*/
}
html {
  height: 100%;
}

body {
  background-color: var(--real-body-color);
  margin: 0px;
}

img {
  position: relative;
  image-rendering: pixelated;
  aspect-ratio: 1;
  width: 20%;
  border-radius: 50%;
  border-style:double;
  border-width: 2vw;
  border-color: #825BBD;
}

#title .span {
  position: absolute;
  top: 5px;
}

#head {
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
  background-color: var(--head-color);
  font-family: "VT323", monospace;
  text-align: center;
  padding-top: 0;
}

#title {
  position: relative;
  font-size: 10vw;
  color: white;
}

#replit {
  position: relative;
  bottom: 0px;
  border: 0px;
  border-radius: 3%;
  aspect-ratio: 2;
  width: 65%;
  z-index: 100;
}

#replit_div {
  position: relative;
  background-color: var(--real-body-color);
  top: 10%;
}
